$red-color: #fc1d00;
$black-color: #000;
$grey-color: #80828f;
$grey-color2: #dadada;
$grey-color3: #f9f9f9;
$white-color: #fff;
$primary-color: $black-color;
$background-color: $red-color;
$secondary-color: $grey-color;
$border-color: $grey-color2;
$body-bg: $grey-color3;