/* Spaces variable */

$space-vs: 5px;
$space-s: 10px;
$space-n: 20px;
$space-m: 30px;
$space-l: 50px;
$space-xl: 60px;

/* media variables */

$break-lg: 1200px;
$break-tab: 1025px;
$break-md: 980px;
$break-sm-v: 800px;
$break-sm: 767px;
$break-xs: 600px;
$break-vs: 400px;
$full: 100%;