<form [formGroup]="rForm" (ngSubmit)="onSubmitStep2()">
<div class="trailer-location">
    <h4 class="title text-uppercase">Location</h4>
    <div class="row locatoin-form">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-label">Street*</label>
                <input formControlName="street" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-label">City*</label>
                <input type="text" formControlName="city" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-label">Province*</label>
                <input type="text" formControlName="province" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="form-label">Postal <CODE></CODE>*</label>
                <input type="text" formControlName="postal" class="form-control" />
            </div>
        </div>
    </div>
    <div class="clearfix location-btn">
        <button class="btn btn-border-red btn-lg">Back</button>
        <button [disabled]="!rForm.valid" type="submit" class="btn btn-primary btn-lg">Next</button>
    </div>
</div>
