<form [formGroup]="rForm" (ngSubmit)="onSubmitDetail()">
<div class="trailer-detail">
    <h4 class="title text-uppercase">Trailer Detail</h4>
    <div class="clearfix row detail-top">
        <div class="col-sm-7 form-group">
            <label>AD Title*</label>
            <input formControlName="ad_title"  type="text" class="form-control" />
        </div>
        <div class="col-sm-7 form-group">
            <label>AD Description*</label>
            <textarea formControlName="ad_description"  class="form-control"></textarea>
        </div>
    </div>
    <h5>Features</h5>
    <div class="row checkbox">
        <div class="col-sm-3 form-group" *ngFor="let listingFeature of listingFeatures">
            <input type="checkbox" name="feature" value="{{listingFeature}}" id="feature" />
            <label for="feature"> {{ listingFeature.name }} </label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <select class="form-control" formControlName="province">
                <option>Number of beds</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
            </select>
        </div>

        <div class="col-sm-6 form-group">
            <select class="form-control" formControlName="postal">
                <option>Number of bathrooms</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
            </select>
        </div>
    </div>


    <div class="clearfix details-btn">
        <button class="btn btn-border-red btn-lg">Back</button>
        <button [disabled]="!rForm.valid" type="submit" class="btn btn-primary btn-lg">Next</button>
    </div>

</div>
