<div class="user-review clearfix">
    <div class="col-md-12 clearfix">
        <h4 class=""><strong>Review</strong></h4>
    </div>

    <div class="user-review-top ">
        <div class="col-md-10">
            <p><strong>post :</strong> ABella AirStream</p>
            <p><strong>Rating :</strong>
                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
            </p>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary pull-right">See More</a>
        </div>
    </div>
    <div class="user-review-top ">
        <div class="col-md-12">
            <p><strong>post :</strong> ABella AirStream</p>
            <p><strong>Rating :</strong>
                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
            </p>
        </div>

        <div class="col-md-12">
            <div class="review-content">
                <h4>JOHN CARTER</h4>
                <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="user-review-form">
                <form>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" placeholder="Title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Review</label>
                        <textarea placeholder="Your Review" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-border-grey">Submit Review</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="user-review-top ">
        <div class="col-md-10">
            <p><strong>post :</strong> ABella AirStream</p>
            <p><strong>Rating :</strong>
                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
            </p>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary pull-right">See More</a>
        </div>
    </div>
</div>