<rv-header></rv-header>
<section class="login-wrap">
    <div class="container">
        <div class="login">
            <h2 class="title">LOGIN</h2>
            <div class="form-group">
                <label>E-mail*</label>
                <input type="text" class="form-control" placeholder="E-mail/Username" />
            </div>
            <div class="form-group">
                <label>Password*</label>
                <input type="password" class="form-control" placeholder="Password" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Log In</button>
            </div>
            <div class="login-social">
                <label>or log in with :</label>
                <button (click)="facebookLogin()"><img src="assets/images/facebook.png" alt="Facebook" /></button>
                <button (click)="googleLogin()"><img src="assets/images/gplus.png" alt="Facebook" /></button>
            </div>
        </div>
    </div>
</section>

