<div class="breadcrumb-wrap">
    <div class="container">
        <h3>Contact Us</h3>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Contact Us</li>
        </ol>
    </div>
</div>
<div class="contact-us">
	<div class="container">
		<div class="contact-us-top">
			<p><strong>Email:</strong> info@trailer.com</p>
			<p><strong>Call Us</strong> +61-7654-111-222</p>
		</div>
	</div>
	<div class="contact-us-bottom">
	<div class="container">
		<div class="contact-us-form">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="form-label">Your Name*</label>
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="form-label">Your Email*</label>
					<input type="text" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="form-label">Phone*</label>
					<input type="text" class="form-control" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="form-label">Subject*</label>
					<input type="text" class="form-control" />
				</div>
			</div>
		</div>
		<div class="clearfix">
			 
				<div class="form-group">
					<label class="form-label">Message</label>
					<textarea class="form-control"></textarea>
				</div>
			 
		</div>
		<div class="clearfix">
			<button class="btn btn-primary btn-lg">Send Message</button>
		</div>
		</div>
		</div>
	</div>
</div>