<rv-header></rv-header>
<div class="breadcrumb-wrap">
    <div class="container">
        <h3>OWNER FAQ</h3>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">FAQ's</li>
        </ol>
    </div>
</div>

<section class="faq-block">
    <div class="container">
        <!--accordion >
            <accordion-group #groupa>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupa?.isOpen, 'glyphicon-chevron-right': !groupa?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
            <accordion-group #groupb>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupb?.isOpen, 'glyphicon-chevron-right': !groupb?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
            <accordion-group #groupc>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupc?.isOpen, 'glyphicon-chevron-right': !groupc?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
            <accordion-group #groupd>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupd?.isOpen, 'glyphicon-chevron-right': !groupd?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
        </accordion-->
		<div class="faq-content-box">
			<h5>HOW TO RENT AN TRAILER?</h5>
			<p>
We've tried to make this as easy and intuitive as possible. All you need to do is upload your pictures, decide when it's available and what daily rate you want to charge. Once your RV is on the website, verified renters will be able to browse and pick your RV for their next adventure.</p>
		</div>
		<div class="faq-content-box">
			<h5>HOW MUCH SHOULD I CHARGE TO RENT MY TRAILER?</h5>
			<p>You can choose an amount based on similar RV's, the season, and your ability to use your RV. The best part is you can adjust your prices depending on your budgetary needs and availability. Many owners rent their vehicle so they can afford some extra maintenance and help with storage costs that come with owning RV's. You can also use the money you earn to off-set your payments, defer the costs of your next trip or just bank it. The choice is yours.
</p>
		</div>
		<div class="faq-content-box">
			<h5>HOW WILL I GET PAID?</h5>
			<p>Once your RV has been returned and you are satisfied with its condition, you will be prompted to provide a review of the renter. Once this is completed your TRAILER payment will be processed. Be sure to fill out your preferences of how you wish to get paid: whether through email money transfer, directly into your bank account, or by cheque.</p>
		</div>
		<div class="faq-content-box">
			<h5>WHAT IF MY TRAILER GETS DAMAGED?</h5>
			<p>Damage may occur on the rare occasion. In the event of damage that has occurred during the trip we encourage both partners to try to come to an arrangement on their own. In the event an agreement can not be reached a member of our team will gladly assist. RVezy collects a damage deposit on every rental and provides pre and post inspection checklists to RV owners. RV owners may make a claim against the damage deposit with supporting documentation of the damage.</p>
		</div>
		<div class="faq-content-box">
			<h5>HOW MUCH CAN I EARN?</h5>
			<p>The great thing about RVezy is that you can rent your RV as often or as little as you want, there are no minimums! Many RV owners will even rent all the way through the winter to snowbirds heading south. It is very possible to earn over $20,000 in a year. Its up to you!</p>
		</div>
		<div class="faq-content-box">
			<h5>CAN I DENY RENTAL REQUESTS?</h5>
			<p>As the RV owner you have the ability to approve or deny any booking requests. Be sure to communicate directly with the renter with any questions you may have about the trip.</p>
		</div>
		<div class="faq-content-box">
			<h5>HOW DO SECURITY DEPOSITS WORK?</h5>
			<p>RV owners set their own security deposits. We recommend a minimum of $500 as a security deposit. Depending on the size or type of RV you are renting you can adjust the deposit at any time. In the event damage occurs during the trip deductions can be made directly from the security deposit.</p>
		</div>
    </div>
</section>
<rv-brandslide *ngIf="brandSlideVisible"></rv-brandslide>
<rv-footer></rv-footer>
