
<div class="clearfix rvlist" *ngFor="let listtrailer of listtrailers">
    <figure class="rvlist-figure">
        <img src="/images/{{ listtrailer.photo }}" *ngIf="rvimage != 'undefined' || rvimage != ''" />
    </figure>
    <div class="rvlist-content rv-info">
        <div class="clearfix rv-info-top">
            <div class="rv-info-top-left">
                <h6>{{ listtrailer.specification_name }}</h6>
                <p class="rv-price">Price: $ {{ listtrailer.pricing_high_rate_hour }} / Night</p>
                <p class="rv-location">Location: <label>{{ listtrailer.location_city}}</label></p>
                <label>{{ listtrailer.location_province }} </label>
            </div>
            <div class="rv-owner-info rv-info-top-right text-center">
                <figure><img src="assets/images/{{ ownerImage }}" /></figure>
                <h6>{{ listtrailer.details_ad_title }}</h6>
                <div class="star-rating">
                    <rating [(ngModel)]="rating" [max]="max" [readonly]="isReadonly"></rating>
                </div>
            </div>

        </div>
        <div class="rv-info-bottom">

            <div class="rv-guest">guest <br /> {{ listtrailer.specification_guest }}</div>
            <div class="rv-modal"></div>
            <button class="rv-btn btn btn-primary" type="button" [routerLink]="['/rv/', listtrailer._id]">Rent IT</button>
        </div>
    </div>
</div>
