<form [formGroup]="rForm" (ngSubmit)="onSubmitPricing()">
<div class="trailer-pricing">
    <h4 class="title text-uppercase">
        Trailer Pricing
    </h4>
    <div class="clearfix trailer-pricing-form">
        <div class="form-group">
            <label>Security Deposit*</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" [(ngModel)]="listing.pricing_security_deposit" formControlName="pricing_security_deposit"/>
            </div>
        </div>
        <div class="form-group">
            <label>Delivery Charges*</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" [(ngModel)]="listing.pricing_delivery_charges" formControlName="pricing_delivery_charges"/>
                <span class="input-group-addon">/Hour</span>
            </div>
        </div>
        <div class="form-group">
            <label>Highest Session Rates*</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_high_rate_hour" formControlName="pricing_high_rate_hour"/>
                        <span class="input-group-addon">/Hour</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_high_rate_week" formControlName="pricing_high_rate_week"/>
                        <span class="input-group-addon">/Week</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_high_rate_month" formControlName="pricing_high_rate_month"/>
                        <span class="input-group-addon">/Month</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Low Season Rates*</label>
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_low_rate_hour" formControlName="pricing_low_rate_hour"/>
                        <span class="input-group-addon">/Hour</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_low_rate_week" formControlName="pricing_low_rate_week"/>
                        <span class="input-group-addon">/Week</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_low_rate_month" formControlName="pricing_low_rate_month"/>
                        <span class="input-group-addon">/Month</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Highest Season Date Range</label>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">From</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_highest_season_date_range_from" formControlName="pricing_highest_season_date_range_from"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">To</span>
                        <input type="text" class="form-control" [(ngModel)]="listing.pricing_highest_season_date_range_to" formControlName="pricing_highest_season_date_range_to"/>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="clearfix pricing-btn">
        <button class="btn btn-border-red btn-lg" [routerLink]="['/list-trailer/details']">Back</button>
        <button class="btn btn-primary btn-lg" [disabled]="!rForm.valid" type="submit">Next</button>
    </div>
</div>
</form>
