@import '../../style/style';
.blog_posts_wrapper {
    margin: 40px 0;
    .blog_post {
        margin-bottom: 35px;
        border-bottom: 1px dotted $border-color;
        padding-bottom: 40px;
        .blog_post_banner {
            margin-top: 0px;
            margin-bottom: 40px;
            .blog_post_image {
                border-radius: 10px;
                overflow: hidden;
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }
    }
    .blog_post_title {
        .title {
            font-size: 29px;
            margin-top: 7px;
        }
    }
    .blog_post_meta {
        .blog_meta_item {
            color: #666;
            font-size: 12px;
            float: left;
            margin-right: 18px;
        }
    }
}