.btn {
    border-radius: 0;
    &+.btn {
        margin-left: 7px;
    }
}

.btn-primary {
    background: $background-color;
    color: $white-color;
    border: solid 1px $background-color;
    &:hover,
    &:focus {
        background: #f01c00;
        border: solid 1px #f01c00;
        color: $white-color;
    }
}

.btn-border-white {
    background: none;
    border: solid 1px $white-color;
    color: $white-color;
    &:hover,
    &:focus {
        background: #f01c00;
        border: solid 1px #f01c00;
        color: $white-color;
    }
}