<div class="trailer-photo">
    <h4 class="title text-uppercase">Add photos</h4>
    <div class="trailer-photo-content">
        <p>The first image will be the one used in search results across the site. Drag and drop to re-order by using the cross icons on the left of each image, you must save below to capture your changes.</p>

        <h5>Add a new file *</h5>

        <div class="input-file">
            <input type="file" />
            <input type="text" placeholder="choose file" disabled class="form-control" />
            <button class="btn btn-primary">Upload</button>
        </div>
    </div>
    <div class="clearfix trailer-photo-btn">
        <button class="btn btn-border-red btn-lg">Back</button>
        <button class="btn btn-border-red btn-lg">Preview</button>
        <button class="btn btn-primary btn-lg">Publish</button>
    </div>
</div>