@import '../style/style';
.midbody {
    margin-left: 270px;
    margin-top: 80px;
}

.admin-page {
    padding: 30px 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.13);
    .admin-title {
        border-bottom: 1px solid $border-color;
        padding-bottom: $space-s;
        margin-bottom: $space-m;
        position: relative;
        &:after,
        &:before {
            content: '';
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}