<rv-header></rv-header>
<div class="breadcrumb-wrap">
    <div class="container">
        <h3>Trailer Renter FAQ</h3>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">FAQ's</li>
        </ol>
    </div>
</div>

<section class="faq-block">
    <div class="container">
        <!--accordion #group>
            <accordion-group>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
            <accordion-group #group1>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
            <accordion-group #group2>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
            <accordion-group #group3>
                <div accordion-heading>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group3?.isOpen, 'glyphicon-chevron-right': !group3?.isOpen}"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </accordion-group>
        </accordion--->
		<div class="faq-content-box">
			<h5>HOW TO RENT AN TRAILER?</h5>
			<p>You can rent an RV simply by clicking the RENT AN RV button in the menu bar. Then filter according to your need!</p>
		</div>
		<div class="faq-content-box">
			<h5>WHAT HAPPENS IF THERE IS A PROBLEM WITH THE TRAILER?</h5>
			<p>If you run into a minor issues or don't know how to operate part of your Ride, it wouldn't hurt to call the owner and they can walk you through.</p>
		</div>
		<div class="faq-content-box">
			<h5>WHERE DO I LEAVE MY CAR? CAN I LEAVE IT AT THE OWNER'S RESIDENCE?</h5>
			<p>Most owners would be happy to park your car while you're on your adventure. It's best to discuss and arrange this directly with the owners, as well as pick up and drop off times.</p>
		</div>
		<div class="faq-content-box">
			<h5>I HAVE PICKED MY TRAILER AND TRIP DATES. WHEN WILL I HEAR BACK?</h5>
			<p>You should hear back within 72 hours and receive all the information you need for your next adventure.</p>
		</div>
		<div class="faq-content-box">
			<h5>I BROKE SOMETHING IN THE TRAILER, WHAT SHOULD I DO?</h5>
			<p>Stuff happens. Let the owner know what was damaged and discuss a way this can be resolved. If in the rare case this issue cannot be resolved, you can always call 1-855-MYRVEZY (1-855-697-8399) and speak with a member of our team.</p>
		</div>
		<div class="faq-content-box">
			<h5>WHEN DO I GET MY DEPOSIT BACK?</h5>
			<p>After returning from your trip make sure to log back onto the site and review your vacation. After leaving your review, your full deposit will be authorized to be returned to you directly onto the credit card you paid with. (assuming there has been no damage to the vehicle)</p>
		</div>
		<div class="faq-content-box">
			<h5>I LIKE TO TRAVEL WITH MY DOG. ARE PETS ALLOWED?</h5>
			<p>Each RV owner has their own policy regarding pets. You will be happy to know that most RV owners are pet owners themselves and welcome your furry friends.</p>
		</div>
		<div class="faq-content-box">
			<h5>CAN I TRAVEL TO THE USA?</h5>
			<p>Our unique insurance policy covers you across Canada and the continental USA.</p>
		</div>
		<div class="faq-content-box">
			<h5>I HAVE AN INTERNATIONAL DRIVER'S LICENSE. CAN I RENT THROUGH RVEZY?</h5>
			<p>So long as you have a valid driver's licence you may qualify for insurance!</p> 
		</div>
    </div>
</section>