<div class="subscribe-plan-box">
    <div class="container">
        <h4><strong>Subscription Packages</strong></h4>
        <div class="subscription-box">
            <div class="price-box">
                <div class="circle-box">
                    <h3>$ 149/6 mo <span>$24.48 per month</span></h3>
                </div>
                <article>
                    <p><span>List Trailer:</span>100/month</p>
                    <a href="#">Read more</a>
                </article>
                <ul>
                    <li>Maximum listing:100/mo</li>
                    <li>Edit listing:No</li>
                    <li>Chat with Renter:Yes</li>
                </ul>
                <a href="#" class="btn btn-default  select-btn">Select</a>
            </div>
            <div class="price-box">
                <div class="circle-box">
                    <h3>$ 178/1 yr <span>$24.48 per month</span></h3>
                </div>
                <article>
                    <p><span>List Trailer:</span>100/month</p>
                    <a href="#">Read more</a>
                </article>
                <ul>
                    <li>Maximum listing:Unlimited</li>
                    <li>Edit listing:Yes</li>
                    <li>Chat with Renter:Yes</li>
                </ul>
                <a href="#" class="btn btn-default  select-btn">Select</a>
            </div>
        </div>

    </div>
</div>