<div class="admin-page">
    <h4 class="admin-title">All CMS Pages
        <button type="button" [routerLink]="['/admin/add-cmspage']" class="btn btn-info pull-right">Add New Page</button> </h4>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Slug Name</th>
                    <th>Body</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let cmspage of cmspages">
                <tr>
                    <td>{{ cmspage.slug }}</td>
                    <td>{{ cmspage.body }}</td>
                    <td>
                        <button class="btn btn-success btn-sm" type="button" [routerLink]="['/admin/view-cmspage', cmspage._id]">VIEW</button>
                        <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/admin/edit-cmspage', cmspage._id]">EDIT</button>
                        <button class="btn btn-danger btn-sm" type="button" (click)="deletePage(cmspage._id)">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>