@import '../style/style';
.fix-header {
    position: fixed;
    z-index: 1010;
    margin-bottom: 0;
    width: $full;
    left: 0;
    top: 0;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar-header {
    background: $background-color;
    float: none;
    width: $full;
    padding: 10px 0;
    margin-bottom: 0;
    .logo {
        img {
            width: 60px;
        }
    }
    .top-right-part {
        font-size: 18px;
        margin-top: 15px;
        color: #fff;
        a {
            color: #fff;
            cursor: pointer;
        }
    }
}