<rv-header></rv-header>
<div class="breadcrumb-wrap">
    <div class="container">
        <h3>Term and Conditions</h3>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Term and Conditions</li>
        </ol>
    </div>
</div>

<section class="aboutus-wrapper">
    <div class="container">
         <div class="about-us">
                    <!-- iqoniq Heading Start -->

                    <!-- iqoniq Heading End -->
                    <div class="text">
                         <div class="abouttxt">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
						 </div>
                    </div>
                </div>
    </div>
</section>
<rv-brandslide *ngIf="brandSlideVisible"></rv-brandslide>
<rv-footer></rv-footer>
