@import '../../style/style';

.filter{
    .form-label{
        text-transform: uppercase;
        font-size: $small;
        font-weight: normal;
        color: $secondary-color;
        margin-top: $medium;
    }

    &-field{
        position: relative; 

        .icon{
            position: absolute;
            right: 5px;
            top: 7px;
        }

        .range-values{
            font-size: 16px;
            color: $background-color
        }

        .mydp .mydpicon{
            color: $secondary-color;
        }
    }

     .filter-field + .filter-field{
        margin-top: 15px;
    }
}